textarea {
  height: auto !important;
}
.navBg {
  background-color: #34495e;
  max-width: 17%;
  position: fixed;
  height: 100vh;
  margin-top: 32px;
  padding-top: 25px;
  overflow: auto;
}
.main-content-container {
  margin-left: 17%;
  max-width: 83% !important;
  z-index: 1;
  padding-top: 7%;
  background: rgb(29 50 72 / 59%);
  width: 83% !important;
  min-height: 100vh;
}
.navbar-top {
  background-color: #1d3248;
}
.username-label {
  color: #FFFFFF !important;
}
.username-label:focus , .username-label:hover {
  color: #FFFFFF !important;
}
.navbar-top > .container-fluid > a.navbar-brand {
  color: #FFFFFF !important;
}
.navBg nav a {
  transition: 0.6s;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 35px;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  font-weight: 300;
  width: 100%;
}
.navBg nav a.active {
  background-color: #F8FAFC;
  color: #34495e;
}
.navBg nav a:hover {
  background-color: #F8FAFC;
  color: #34495e;
}
.navBg nav a:hover i {
  color: #34495e;
}
.navBg nav i {
  padding-right: 10px;
}
.login-container {
  padding-top: 125px;
}
.section_heading.section_heading_2 h3 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  font-weight: 300;
  /* line-height: 64px; */
  margin-bottom: 15px;
  padding: 1px 3px 0;
  position: relative;
  color: #090810;
}

.section_heading {
  text-align: center;
}
.contact_form {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0;
  /*padding: 45px 35px 0;*/
  padding: 45px 35px;
  border-radius: 15px;
  margin-bottom: 12px;
  min-height: 50vh;
}
.contact_form.common {
  min-height: unset;
  padding: 45px 35px 0;
}

.contact_form .form-control {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: none;
  color: hsl(0, 0%, 0%);
  font-size: 18px;
  font-weight: 300;
  height: 55px;
  margin-bottom: 2px;
}

.contact_form .form-textarea {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: none;
  color: hsl(0, 0%, 0%);
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 2px;
  padding: 5px 15px;
  width: 100%;
}

.form-group > label {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 5px;
  max-width: 100%;
}

.form-group > label > span {
  color: #e3342f;
}

.contact_form .form-control {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: none;
  color: hsl(0, 0%, 0%);
  font-size: 18px;
  font-weight: 300;
  height: 45px;
  margin-bottom: 2px;
}

.form-group {
  margin-bottom: 20px;
}

.section_sub_btn .btn.btn-default:hover {
  background: #ff9800 none repeat scroll 0 0;
}

.section_sub_btn .btn.btn-default {
  background: hsl(42, 93%, 51%) none repeat scroll 0 0;
  border: 0 none;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
}
  
.section_sub_btn .btn.btn-default {
  padding: 10px 20px;
} 

section.contact_bg {
  clear: both;
  position: relative;
}
section.contact_bg:after {
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  content: "";
  /*background: rgba(1, 100, 28, 0.8);*/
}
.section_heading {
  text-align: center;
}

.contact_form .form-group {
  margin-bottom: 20px;
  padding: 0;
}
.content-section {
  z-index: 99;
}
.navbar-top-fix {
  position: fixed;
  width: 100%;
  z-index: 15;
}

.settings-container {
  width: 100%;
  padding: 12px 15px;
  border-radius: 20px;
  background-color: #ffffff;
  min-height: 50vh;
  z-index: 14;
}

.settings-tabs {
  border-bottom: 1px solid #34495e !important;
}

.settings-tabs > li > a {
  color: #000000 !important;
}

.settings-tabs > li > a:hover {
  border: 1px solid #34495e !important;
}

.settings-tabs > li > a.active {
  background-color: #34495e !important;
  color: #FFFFFF !important;
  border: 1px solid #34495e !important;
}

#loading {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: rgba(12, 11, 11, 0.75);
}

#loaderImg {
  margin: auto;
  display: block;
  /* margin-top: 240px; */
}

.loader, .loader:after {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.loader {
  animation: spin 1.6s infinite linear;
  -webkit-animation: spin 1.6s linear infinite;
  border-color: rgba(25, 181, 188, .2) rgba(25, 181, 188, .2) rgba(25, 181, 188, .2) #ffffff;
  margin: 0;
  font-size: 10px;
  text-indent: -9999em;
  border-width: 7px;
  border-style: solid;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}

.no-padding {
  z-index: 14;
}

.notification-bar {
  min-width: 25rem;
  padding: 0;
}

.notification-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.notification-list li {
  border: 0.5px solid #dddddd;
  padding: 25px 0;
}

.btn {
  color: white;
}

.radio-label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 51%;
}

.checkmark.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: unset;
}

/* On mouse-over, add a grey background color */
.radio-label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-label input:checked ~ .checkmark {
  background-color: #00a3a7;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-label .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.radio-label .checkmark.checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: unset;
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 6px 12px;
    height: 34px
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 10px
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    margin-top: -3px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0 !important;
    padding: 6px 12px;
    height: 40px !important
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 6px !important;
    right: 1px;
    width: 20px
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 767px) {
  .navBg {
    height: 100%;
  }
  .navBg nav {
    padding-top: 0px;
  }
}
@media (max-width: 768px) {
  .main-content-container{
    margin-left: 11.5%;
    flex: unset;
    width: 100% !important;
    max-width: 100% !important;
  }
  .navBg {
    max-width: 11.5%;
  }
  .navBg nav span {
    display: none;
  }
}
@media (max-width: 576px) {
  .navBg {
    height: 100vh;
    /*max-width: 55px;*/
    max-width: 17%;
  }
  .navBg nav {
    padding-top: 0px;
  }
  .navBg nav h1 {
    display: none;
  }
  .navBg nav a {
    text-align: center;
  }
  .navBg nav i {
    padding-right: 0px;
  }
  .navBg nav span {
    display: none;
  }
  .contact_form {
    padding: 25px 18px 0;
  }
  .no-padding {
    padding-left: 0;
    padding-right: 0;
  }
  .main-content-container {
    padding-top: 60px;
  }
  .navBg nav a {
    padding-left: 20px;
  }
  .section_heading.section_heading_2 h3 {
    margin-bottom: 25px;
    padding: 0 10px 0px;
  }
  .contact_form .form-control {
    height: 45px;
  }
  .content-section {
    padding: 10px 0;
  }
}
@media screen and (max-height: 600px) {
  .navBg {
    height: 100%;
  }
  .navBg nav {
    padding-top: 0px;
  }
}
